page-home {

    button{
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #000000, #fa0404);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #000000, #420101); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:#fff;
    }  

    .commentaire {
        background: #80f59a;
    
    }




    ion-slides{
        position: relative;
        color: rgb(148, 29, 29);
        height: 10%;


    }
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          display: flex;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }






}

.state-0 {
    color: rgb(90, 1, 255);
}

.state-1 {
    color: rgb(248, 0, 0);
}
.state-2 {
    color: rgb(7, 232, 248);
}






